https:
  port: "8082"
  
app:
  autodiscovery: ""
  client_id: ""
  client_secret: ""
  
sap:
  order:
    host: ""
    port: ""
    basePath: ""
    protocol: ""
  product:
    host: "" 
    port: ""
    basePath: ""
    protocol: ""
  customer:
    host: ""
    port: ""
    basePath: ""
    protocol: ""
   
commdix:
  host: "" 
  port: ""
  basePath: ""
  protocol: ""
  
order:
  fromId: ""
  
keystore:
  path: ""
  password: ""

