https:
  port:
  
app:
  autodiscovery:
  client_id:
  client_secret:
  
sap:
  host: 
  port: 
  basePath: 
  protocol:
   
commdix:
  host: 
  port: 
  basePath: 
  protocol: 
    
order:
  fromId: 
    
keystore:
  path:
  password:

